<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/3f1d8a91-940f-4c9d-b8d7-b146893bbd27/resourceGroups/DavidW1/providers/Microsoft.Web/sites/dotnetexample</ResourceId>
    <ResourceGroup>DavidW1</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://dotnetexample.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e75a3173-9458-4a78-91b8-4d8cb1cf9f5f</ProjectGuid>
    <PublishUrl>https://dotnetexample.scm.azurewebsites.net/</PublishUrl>
    <UserName>$dotnetexample</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>